body {
  margin-top: 50px;
}

i.fa-slack.irc {
  -ms-transform: rotate(19deg);
  -webkit-transform: rotate(19deg);
  transform: rotate(19deg);
}

.stable {
  background-color: #ffc;
}
.eol {
  color: #666;
}

.navbar-brand {
  font-size: 20px;
}

.navbar-logo {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
