<head>
  <meta charset="utf-8">
  <title>http4s: {{ .Title }}</title>

  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/bootstrap.min.css" >  
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/font-awesome.min.css" >  
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/fontello.css" >
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" >
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/highlight-github.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/style.css" >
</head>
