<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      http4s<img src="{{.Site.BaseUrl}}/images/http4s-logo.svg" alt="logo" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://http4s.org/#" id="projects-menu-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="projects-menu-item"> 
            <a class="dropdown-item" href="/">http4s</a>
            <a class="dropdown-item" href="https://github.com/http4s/blaze">blaze</a>
            <a class="dropdown-item" href="https://github.com/http4s/rho">rho</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
