target/
/.lib/
_site/

*~
.ensime
.idea/
.idea_modules/

.cache
.classpath
.project
.settings/
atlassian-ide-plugin.xml
*.sublime-*
.tags
.tags_sorted_by_file
.ensime_cache
.ensime_lucene
/TAGS
.sbtopts
.ensime_cache
.cache-main
.cache-tests

# Copied from Github-relevant locations for DRYness
docs/src/main/tut/index.md
docs/src/main/tut/contributing.md