language: scala
scala:
- 2.12.2
- 2.11.11
- 2.10.6
jdk: oraclejdk8
env:
  global:
  - HUGO_VERSION=0.18
  - LOGBACK_ROOT_LEVEL=WARN
  - LOGBACK_EXCEPTION_PATTERN=%xThrowable{3}
  matrix:
  - SCALAZ_VERSION=7.2.12
  - SCALAZ_VERSION=7.1.13
before_script:
- mkdir -p $HOME/.sbt/launchers/0.13.8/
- curl -L -o $HOME/.sbt/launchers/0.13.8/sbt-launch.jar http://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.8/sbt-launch.jar
- mkdir $HOME/bin
- export PATH=$HOME/bin:$PATH
script: bash bin/travis
notifications:
  webhooks:
    urls:
      - secure: "aD5b1XnAbGJi6YYofSUdradQngsxkG+xlrbev2kv/xSxD3LtzEiUrewODYmDCPiAL3biTi9/4Ye5mkC7g0ksW1X5ZpW46c5cxpuICE14Ke8EdGF4xK7HW70GvK4We9s8xDddHR4QrNk6G216B+9IPgrnT/VkCaJ327AM5oGWoDY="
    on_success: change
    on_failure: always
    on_start: never
sudo: false
cache:
  directories:
  - "$HOME/.coursier/cache"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"
