language: scala
env:
  global:
  - secure: IgzqZjDGDiXkBrGoTdAdj/em5C+rO48QSdeA3K0FTzuti8VuC4U7RslqiqokF1QziOxA6GYjB0sfVdupAnDmyuYLUjDDvvEuQu73bt1fucQxho2xUHq678xjorV2xKrAKriiFG8i4HMFNVL+vKKtScGTkjyNI29bdLYJS7Bftgw=
before_script:
- openssl aes-256-cbc -k $SECRET -in .travis.secrets.enc -d -a -out .travis.secrets
- source .travis.secrets
- rm .travis.secrets
- echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- git config --global user.email "travis-ci@http4s.org"
- git config --global user.name "Travis CI"
script: sbt test
after_success: sbt publish make-site ghpagesPushSite
