language: scala
addons:
  apt:
    packages:
      - oracle-java8-installer
jdk: oraclejdk8
env:
  global:
  - HUGO_VERSION=0.18
  - LOGBACK_ROOT_LEVEL=WARN
  - LOGBACK_EXCEPTION_PATTERN=%xThrowable{3}
  - SBT_VERSION=0.13.15

notifications:
  webhooks:
    urls:
      - secure: "aD5b1XnAbGJi6YYofSUdradQngsxkG+xlrbev2kv/xSxD3LtzEiUrewODYmDCPiAL3biTi9/4Ye5mkC7g0ksW1X5ZpW46c5cxpuICE14Ke8EdGF4xK7HW70GvK4We9s8xDddHR4QrNk6G216B+9IPgrnT/VkCaJ327AM5oGWoDY="
    on_success: change
    on_failure: always
    on_start: never
sudo: false
cache:
  directories:
  - "$HOME/.coursier/cache"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"

jobs:
  include:
    - &tests
      stage: Test
      scala: 2.12.2-bin-typelevel-4
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/specialTest.sh

    - <<: *tests
      scala: 2.12.2-bin-typelevel-4
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/test.sh
    - <<: *tests
      scala: 2.11.11-bin-typelevel-4
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/test.sh
    - <<: *tests
      scala: 2.11.11-bin-typelevel-4
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/test.sh
    - <<: *tests
      scala: 2.10.6
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/test.sh
    - <<: *tests
      scala: 2.10.6
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/test.sh

    - &publishSite
      stage: Publish Site
      scala: 2.12.2-bin-typelevel-4
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/publishSite.sh
    - <<: *publishSite
      scala: 2.12.2-bin-typelevel-4
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/publishSite.sh
    - <<: *publishSite
      scala: 2.11.11-bin-typelevel-4
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/publishSite.sh
    - <<: *publishSite
      scala: 2.11.11-bin-typelevel-4
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/publishSite.sh
    - <<: *publishSite
      scala: 2.10.6
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/publishSite.sh
    - <<: *publishSite
      scala: 2.10.6
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/publishSite.sh

    - &publishSonatype
      stage: Publish Sonatype
      scala: 2.12.2-bin-typelevel-4
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/publishCentral.sh
    - <<: *publishSonatype
      scala: 2.12.2-bin-typelevel-4
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/publishCentral.sh
    - <<: *publishSonatype
      scala: 2.11.11-bin-typelevel-4
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/publishCentral.sh
    - <<: *publishSonatype
      scala: 2.11.11-bin-typelevel-4
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/publishCentral.sh
    - <<: *publishSonatype
      scala: 2.10.6
      env: SCALAZ_VERSION=7.2.13
      script: $TRAVIS_BUILD_DIR/bin/publishCentral.sh
    - <<: *publishSonatype
      scala: 2.10.6
      env: SCALAZ_VERSION=7.1.13
      script: $TRAVIS_BUILD_DIR/bin/publishCentral.sh
