language: scala
dist: trusty
sudo: required

stages:
  - name: test
  - name: publish
    branches:
      only:
        - master
        - /^release-/
    if: type = push

env:
  global:
  - HUGO_VERSION=0.26
  - LOGBACK_ROOT_LEVEL=WARN
  - LOGBACK_EXCEPTION_PATTERN=%xThrowable{3}

scala_version_211: &scala_version_211 2.11.12
scala_version_212: &scala_version_212 2.12.8
scala_version_213: &scala_version_213 2.13.0-M5

java_8: &java_8 oraclejdk8
java_11: &java_11 openjdk11

jobs:
  include:
    - &tests
      env: TEST="test"
      script:
        - sbt ++$TRAVIS_SCALA_VERSION test
        - sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues
        - sbt ++$TRAVIS_SCALA_VERSION unusedCompileDependenciesTest
      scala: *scala_version_211
      jdk: *java_8
    - <<: *tests
      scala: *scala_version_212
      jdk: *java_8
      script:
        - sbt ++$TRAVIS_SCALA_VERSION test
        - sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues
        - sbt ++$TRAVIS_SCALA_VERSION unusedCompileDependenciesTest
        - sbt ++$TRAVIS_SCALA_VERSION test:scalafmt::test
    - <<: *tests
      scala: *scala_version_213
      jdk: *java_8
      script:
        - sbt ++$TRAVIS_SCALA_VERSION thirteen/test
        - sbt ++$TRAVIS_SCALA_VERSION thirteen/mimaReportBinaryIssues
        - sbt ++$TRAVIS_SCALA_VERSION thirteen/unusedCompileDependenciesTest
    - <<: *tests
      scala: *scala_version_212
      jdk: *java_11
    - env: TEST="docs"
      scala: *scala_version_212
      jdk: *java_8
      before_script:
        - source scripts/helpers
        - PATH="$HOME/bin:$PATH"
        - export PATH=${PATH}:./vendor/bundle
      install:
        - scripts/install-hugo
      script:
        - sbt ++$TRAVIS_SCALA_VERSION docs/makeSite
        - sbt ++$TRAVIS_SCALA_VERSION website/makeSite
    - env: TEST="scalafix"
      scala: *scala_version_212
      jdk: *java_8
      script:
        - cd scalafix
        - sbt ++$TRAVIS_SCALA_VERSION ci
    - stage: publish
      env: TEST="publish"
      scala: *scala_version_212
      jdk: *java_8
      before_script:
        - source scripts/helpers
        - PATH="$HOME/bin:$PATH"
        - export PATH=${PATH}:./vendor/bundle
      install:
        - scripts/install-hugo
        - decrypt_deploy_key
        - decrypt_pgp_secrets
        - configure_git
      script:
        - sbt ci
    - env: TEST="publish docs"
      scala: *scala_version_212
      jdk: *java_8
      before_script:
        - source scripts/helpers
        - PATH="$HOME/bin:$PATH"
        - export PATH=${PATH}:./vendor/bundle
      install:
        - scripts/install-hugo
        - decrypt_deploy_key
        - decrypt_pgp_secrets
        - configure_git
      script:
        - sbt ++$TRAVIS_SCALA_VERSION docs/ghpagesPushSite
        - sbt ++$TRAVIS_SCALA_VERSION website/ghpagesPushSite
  allow_failures:
    jdk: *java_11
    scala: *scala_version_212

notifications:
  webhooks:
    urls:
      - secure: "aD5b1XnAbGJi6YYofSUdradQngsxkG+xlrbev2kv/xSxD3LtzEiUrewODYmDCPiAL3biTi9/4Ye5mkC7g0ksW1X5ZpW46c5cxpuICE14Ke8EdGF4xK7HW70GvK4We9s8xDddHR4QrNk6G216B+9IPgrnT/VkCaJ327AM5oGWoDY="
    on_success: change
    on_failure: always
    on_start: never

cache:
  directories:
  - "$HOME/.coursier/cache"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"

before_cache:
  - cleanup_cache
