<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n${LOGBACK_EXCEPTION_PATTERN:-%throwable}</pattern>
    </encoder>
  </appender>

<!--  <logger name="org.http4s.blaze.client.PoolManager" level="DEBUG"/>-->
<!--  <logger name="org.http4s.blaze.client.Http1Connection" level="TRACE"/>-->

  <logger name="org.http4s.blaze.client.ConnectionReuseTestServer$" level="TRACE"/>

  <root level="${LOGBACK_ROOT_LEVEL:-WARN}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
