<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>http4s | {{ .Title }}</title>

  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/bootstrap.min.css" >  
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/font-awesome.min.css" >  
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/fontello.css" >
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Share+Tech" >
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/highlight-github.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/style.css" >
</head>
