<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
	<img src="{{.Site.BaseURL}}/images/http4s-logo.svg" alt="logo" class="logo" /> {{ .Site.Title }}
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://http4s.org/#" id="projects-menu-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="projects-menu-item"> 
            <a class="dropdown-item" href="/">http4s</a>
            <a class="dropdown-item" href="https://github.com/http4s/blaze">blaze</a>
            <a class="dropdown-item" href="https://github.com/http4s/rho">rho</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
