
/* Overriding some of the default landing page styles. */

li {
  font-size: 15px;
}

#header-left h2 {
  font-size: 32px;
  line-height: 48px;
  margin-top: 35px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.teaser p {
  font-size: 17px;
}

/* Additional styles for the non-standard landing page elements
   (the version dropdown and icon links below the subtitle).
 */

#left-row {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.drop-down-box {
  background-color: var(--secondary-color);
  border-radius: 8px;
  color: white;
  height: 40px;
  width: 47%;
  font-size: 20px;
  padding-top: 3px;
}

.drop-down-box a {
  display: inline-block;
  vertical-align: middle;
}

.link-box {
  border: 1px solid var(--primary-medium);
  border-radius: 8px;
  height: 40px;
  width: 47%;
  vertical-align: middle;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#header .link-box a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

#header a.drop-down-toggle {
  color: white;
  text-decoration: none;
}

#header a.drop-down-toggle:hover {
  text-decoration: none;
  color: var(--primary-medium);
}

#header #version-list a, #header #version-list a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.drop-down-toggle:after {
  border-top: 8px solid white;
}
.drop-down-toggle:hover:after {
  border-top: 8px solid var(--primary-medium);
}

#version-menu {
  top: 37px;
}

.svg-link {
  padding-top: 0;
  padding-bottom: 5px;
  fill: var(--primary-light);
}

.svg-shape {
  fill: var(--primary-medium);
}
