<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  {{ partial "nav.html" . }}
  <body>
    <div class="container">
      <div class="content">
        <div class="col-md-10" role="main">
          <div class="page-header">
            <h1>{{ .Title }}</h1>
          </div>
          {{ .Content }}
          <footer>
            {{ $apiVer := index .Site.Data.build.versions "http4s.api" }}
            <nav>
              <ul class="pager">
                {{ if .NextInSection }}
                <li class="previous"><a href="{{.NextInSection.Permalink}}"><i class="fa fa-arrow-left"></i> {{.NextInSection.Title}}</a></li>
                {{ end }}
                <li><a href="https://github.com/http4s/http4s/edit/release-{{ $apiVer }}.x/docs/src/main/tut{{ replace .File.Path (print "v" $apiVer) ""}}"><i class="fa fa-pencil"></i> Edit this page</a></li>
                {{ if .PrevInSection }}
                <li class="next"><a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} <i class="fa fa-arrow-right"></i></a></li>
                {{ end }}
              </ul>
            </nav>
          </footer>
        </div>
        <div class="col-md-2" role="complementary">
          <nav class="tut-nav" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
            <ul class="nav">
              {{ $currentNode := . }}
              {{ range .Site.Menus.tut }}
              <li {{if $currentNode.IsMenuCurrent "tut" . }}class="active"{{end}}>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
