<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-secondary">
      <div class="container">
      <a class="navbar-brand" href="/">
        http4s<img src="/images/http4s-logo.svg" alt="logo" class="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://http4s.org/#" id="docs-menu-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          {{ partial "nav-docs.html" . }}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://http4s.org/#" id="projects-menu-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="projects-menu-item"> 
            <a class="dropdown-item" href="/">http4s</a>
            <a class="dropdown-item" href="https://github.com/http4s/blaze">blaze</a>
            <a class="dropdown-item" href="https://github.com/http4s/rho">rho</a>
          </div>
        </li>
        </ul>
        <ul class="navbar-nav" id="http4s-social">
        <li class="nav-item"><a class="nav-link" href="https://github.com/http4s/http4s" title="http4s/http4s on GitHub"><span class="icon-github-circled"></span></a></li>	
        <li class="nav-item"><a class="nav-link" href="https://gitter.im/http4s/http4s" title="http4s/http4s on Gitter"><span class="icon-gitter" aria-hidden="true"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/http4s" title="@http4s on Twitter"><span class="icon-twitter" aria-hidden="true"></span></a></li>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9 order-1">
          <span class="float-right">
          {{ partial "edit-button.html" . }}
          <span class="d-md-none">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="offcanvas">
              <i class="fa fa-navicon"></i>
            </button>
          </span>
          </span>

          {{ if ne (relURL .URL) ("/" | safeHTML) }}
          <h1>{{ .Page.Title }}</h1>
          {{ end }}
          
          {{ .Content }}
        </div>

        <div class="col-6 col-md-3 order-2 sidebar-offcanvas p-0" id="sidebar">
          <ul class="nav flex-column">          
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item">
	      <a class="nav-link{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <hr />
      <footer class="text-muted text-center small">
        http4s is a <a href="https://typelevel.org/">Typelevel</a> Incubator Project distributed under the <a href="https://github.com/http4s/http4s/LICENSE">Apache 2 License</a>.
      </footer>

    </div><!--/.container-->

    {{ partial "scripts.html" . }}
  </body>
</html>

<!--
    <div class="row">
      <main class="col-10 col-md-9 col-sm-8 order-2">
        <div class="http4s-edit float-right">
          {{ partial "edit-link.html" . }}

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </main>
      <nav id="sidenav" class="col-2 col-md-3 col-sm-4 http4s-sidenav order-1">
        <ul class="nav flex-column">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
          <li class="nav-item">
	    <a class="nav-link{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
</div>
{{ partial "scripts.html" . }}
</body>
</html>
-->
